a {
    text-decoration: none;
}

.title {
    font-size: 12px;
}

.price {
    font-size: 10px;
}

.cart {
    cursor: pointer;
}

.heart {
    color: red;
    cursor: pointer;
    font-size: 20px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ellipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.textarea {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}

.edit, .delete {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    color: gray;
}