.cart {
    cursor: pointer;
    font-size: 20px;
}

.heart{
    color: red;
    cursor: pointer;
    font-size: 20px;
}

.spin{
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.textarea{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid gray;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.ellipsis2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.edit, .delete {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    color: gray;
}